<!--查询附件结果-->
<div id="AttaDiv" class="container-fluid">
    <div class="panel panel-warning">
        <div class="panel-heading">查询到的附件</div>
        <div class="panel-body table-responsive">
            <table class="table">
                <thead>
                <tr>
                    <th>序号</th>
                    <th>需求名称</th>
                    <th>申请人</th>
                    <th>文档上传者</th>
                    <th>文档类型</th>
                </tr>
                </thead>
                <tbody>
                <% var recCount=(curFindAttaPage-1)*30%>
                <% attas.forEach(function(atta,i){ var psId=atta.processStepId%>
                <% recCount++;%>
                <tr id="myToBeDealTask">
                    <td><%=recCount%></td>
                    <td><a id="attach_<%=atta.attachmentId%>" attachment ="attachment" attachmentId="<%=atta.attachmentId%>"  fileUri = "<%=atta.fileUri%>" ><%=atta.fileName%></a></td>
                    <td><%=atta.createrName%></td>
                    <td><%=atta.dealerName%></td>
                    <%if(atta.processStepId == 1){%>
                    <td>需求文档</td>
                    <%}%>
                    <%if(atta.processStepId == 3){%>
                    <td>设计文档</td>
                    <%}%><%if(atta.processStepId == 4){%>
                    <td>设计方案</td>
                    <%}%>
                </tr>
                <% }); %>
                </tbody>
            </table>
        </div>
        <!--<% if(attasCount){%>-->
        <!--<div class="panel-footer">共<%=attasCount%>条</div>-->
        <!--<% } %>-->
        <div id="recCount" class="panel-footer" recCount="<%=recCount%>">共<%=(recCount%30)==0?30:(recCount%30)%>条</div>
        <div style="float:right">
            <nav  >
                <%
                var  minPage = curFindAttaPage-2>0?curFindAttaPage-2:1;
                var maxPage = minPage + 4>totalFindAttaPage?totalFindAttaPage:minPage + 4;
                minPage = maxPage-4<1?1:maxPage-4;
                //                          var maxPage =curFindAttaPage+2>totalDealPage?totalDealPage:curFindAttaPage+2;
                %>
                <ul class="pagination" id="pageUl" pageCount="<%=totalFindAttaPage%>" curPage="<%=curFindAttaPage%>"
                    minPage="<%=minPage%>",maxPage="<%=maxPage%>">

                    <%if(minPage!=1){%>
                    <li  id="pagePre">
                        <a href="/req/findAllAttas/<%=parseInt(curFindAttaPage)-1%>" aria-label="Previous" >
                            <span aria-hidden="true">&laquo;</span>
                        </a>
                    </li>
                    <%}%>
                    <%for(var i = minPage;i<=maxPage;i++){ %>
                    <li  class="pageId"  value ="<%=i%>"><a href="/req/findAllAttas/<%=i%>"><%=i%></a></li>
                    <%}%>
                    <%if(maxPage<totalFindAttaPage){%>
                    <li  id="pageNext">
                        <a href="//req/findAllAttas/<%=parseInt(curFindAttaPage)+1%>" aria-label="Next">
                            <span aria-hidden="true">&raquo;</span>
                        </a>
                    </li>
                    <%}%>
                </ul>
            </nav>
        </div>
    </div>
</div>
<div id="noTaskNotice" style="margin-top: 100px">
    <div class="col-sm-3"></div>
    <div class="col-sm-6">
            <span style="font-size:20pt; color: #cccccc;height:20px; line-height:20px; text-align:center; display:block;">
                没有找到符合条件的变更单
            </span>
    </div>
    <div class="col-sm-3"></div>
</div>
<script>
//    var aLink = $('[attachment ="attachment"]');
//    aLink.click(function(){
//        var aHref = $(this).attr('fileUri');
//        var attaName = $(this).html();
//        if(!aHref || '#'==aHref || null==aHref){
//            return;
//        }
//        aHref = aHref.replace(/\./g,'%2E');
//        aHref = aHref.replace(/\//g,'%2F');
//        attaName = attaName.replace(/\./g,'%2E');
//        attaName = attaName.replace(/\//g,'%2F');
//        var currentUri = '/file/fileDownLoad/' + attaName + '/' + aHref;
//        location.href = currentUri;
//    });
</script>