<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>变更单历史</title>
    <link href="/stylesheets/history.css" rel="stylesheet" />
</head>
<body>

<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
    <h4 class="modal-title"><%=title%></h4>
</div>


<div class="head-warp">
    <div class="head">
        <div class="nav-box">
            <ul>
                <li class="cur" style="text-align:center; font-size:62px; font-family:'微软雅黑', '宋体';"></li>
            </ul>
        </div>
    </div>
</div>
<div class="main">
    <div class="history">
        <% if(taskHis.length && (taskHis[0].taskid < 1801)){ %>
        <!--//12.9 taskid 1566-->
        <%for(var j=0; j<=maxTurnNum; j++){%>
        <div class="history-date">
            <ul>
                <h2 class="data01"><a href="#">第<%=j+1%>轮</a></h2>
                <%taskHis.forEach(function(tHis, item){%>
                <%if(tHis.turnNum == j){%>
                <%if(tHis.processStepId == 2){%>
                <li>
                    <h3>发起变更单</h3>
                    <dl>
                        <dt><%=tHis.realName%> &nbsp;&nbsp;&nbsp;&nbsp;<time style="display:inline;color:#d3d3d3;font-weight:normal">(<%=tHis.execTime%>)</time>
                            <span>填写提交了变更单基本信息</span>
                        </dt>
                    </dl>
                </li>
                <%}else %>

                <%if(tHis.processStepId==2 && tHis.fileName){%>
                <li>
                    <h3>提取旧文件</h3>
                    <dl>
                        <dt>系统 &nbsp;&nbsp;&nbsp;&nbsp;<time style="display:inline;color:#d3d3d3;font-weight:normal">(<%=tHis.execTime%>)</time>
                            <span>提取SVN上存在的旧文件：<a typeId="attaLink" href="<%=tHis.fileUri%>" style="color:#32B1EC"><%=tHis.fileName%></a></span>
                        </dt>
                    </dl>
                </li>
                <%}else %>

                <%if(tHis.processStepId==3 && tHis.fileName!=null){%>
                <li>
                    <h3>提交变更单</h3>
                    <dl>
                        <dt><%=tHis.realName%> &nbsp;&nbsp;&nbsp;&nbsp;<time style="display:inline;color:#d3d3d3;font-weight:normal">(<%=tHis.execTime%>)</time>
                            <span>上传了变更单：<a typeId="attaLink" href="<%=tHis.fileUri%>" style="color:#32B1EC"><%=tHis.fileName%></a></span>
                        </dt>
                    </dl>
                </li>
                <%}else %>

                <%if(tHis.processStepId==4){%>
                    <%taskHis.forEach(function(tempHis, tempItem){%>
                        <%if(tempHis.turnNum==tHis.turnNum && tempHis.processStepId==5){%>
                            <li>
                                <h3>安排走查</h3>
                                <dl>
                                    <dt><%=tHis.realName%> &nbsp;&nbsp;&nbsp;&nbsp;<time style="display:inline;color:#d3d3d3;font-weight:normal">(<%=tHis.execTime%>)</time>
                                        <span>指定<%=tempHis.realName%>对该变更单走查</span>
                                    </dt>
                                </dl>
                            </li>
                        <%}%>
                    <%});%>
                <%}else %>

                <%if(tHis.processStepId==5 && tHis.turnNum==maxTurnNum){%>
                    <%taskHis.forEach(function(tempHis, tempItem){%>
                        <%if(tempHis.turnNum==tHis.turnNum && tempHis.processStepId==6){%>
                            <li>
                                <h3>走查</h3>
                                <dl>
                                    <dt><%=tHis.realName%> &nbsp;&nbsp;&nbsp;&nbsp;<time style="display:inline;color:#d3d3d3;font-weight:normal">(<%=tHis.execTime%>)</time>
                                        <span>走查该变更单后，做出“走查通过”的判定<br/>
                                            <%if(tHis.fileUri!=null){%>
                                                <label>上传了走查报告：<a typeId="attaLink" href="<%=tHis.fileUri%>" style="color:#32B1EC"><%=tHis.fileName%></a></label>。
                                            <%}%>
                                        </span>
                                    </dt>
                                </dl>
                            </li>
                        <%}%>
                    <%});%>
                <%}else %>

                <%if(tHis.processStepId==5 && tHis.turnNum<maxTurnNum){%>
                <li>
                    <h3>走查</h3>
                    <dl>
                        <dt><%=tHis.realName%> &nbsp;&nbsp;&nbsp;&nbsp;<time style="display:inline;color:#d3d3d3;font-weight:normal">(<%=tHis.execTime%>)</time>
                            <span>走查该变更单后，做出“走查不通过”的判定。<br/>
                            <%if(tHis.fileUri!=null){%>
                            上传了走查报告：<a typeId="attaLink" href="<%=tHis.fileUri%>" style="color:#32B1EC"><%=tHis.fileName%></a><br/>
                            <%}%>
                            描述了不通过原因：<%if(tHis.noPassReason==null){%> 无<br/> <%}else{%>
                                                <%var n1 = tHis.noPassReason.length/20; var n2=tHis.noPassReason.length%20;%>
                                                <%if(n2!=0){n1 = Math.floor(n1)+1;}else{n1 = Math.floor(n1)}%>
                                                <%for(var jj=0; jj<n1; jj++){%>
                                                    <%=tHis.noPassReason.substr(jj*20,20)%><br/>
                                                <%}%>
                                            <%}%>
                            变更单退回“提交变更单”环节
                            </span>
                        </dt>
                    </dl>
                </li>
                <%}else %>

                <%if(tHis.processStepId==6 && tHis.dealer){%>
                <li>
                    <h3>上测试库</h3>
                    <dl>
                        <dt><%=tHis.realName%> &nbsp;&nbsp;&nbsp;&nbsp;<time style="display:inline;color:#d3d3d3;font-weight:normal">(<%=tHis.execTime%>)</time>
                            <span>接受了上测试库任务</span>
                        </dt>
                    </dl>
                </li>
                <%}else %>

                <%if(tHis.processStepId==7){%>
                <li>
                    <h3>上测试库完成</h3>
                    <dl>
                        <dt><%=tHis.realName%> &nbsp;&nbsp;&nbsp;&nbsp;<time style="display:inline;color:#d3d3d3;font-weight:normal">(<%=tHis.execTime%>)</time>
                            <span>完成了代码上测试库任务</span>
                        </dt>
                    </dl>
                </li>
                <%}%>
                <%for(var k=0; k<=maxTestNum; k++){%>

                <%if((tHis.processStepId==8)&&(tHis.testNum==k)){%>
                <%if(maxTestNum!=0){%>
                <h2 class="data01"><a href="#">第<%=k+1%>轮测试</a></h2>
                <%}%>
                <li>
                    <h3>测试</h3>
                    <dl>
                        <dt><%=tHis.realName==undefined?"":tHis.realName%> &nbsp;&nbsp;&nbsp;&nbsp;<time style="display:inline;color:#d3d3d3;font-weight:normal">(<%=tHis.execTime%>)</time>
                            <span><%=tHis.realName== undefined ?'':tHis.realName +'接受了'%>测试任务</span>
                            <%if(tHis.fileUri!=null){%>
                            上传了测试报告：<a typeId="attaLink" href="<%=tHis.fileUri%>" style="color:#32B1EC"><%=tHis.fileName%></a><br/>
                            <%}%>
                        </dt>
                    </dl>
                </li>
                <%}%>
                <%if((tHis.processStepId==9)&&(tHis.testNum==k)){%>
                <li>
                    <h3>测试完成</h3>
                    <dl>
                        <dt><%=(tHis.realName==null)?"":tHis.realName%> &nbsp;&nbsp;&nbsp;&nbsp;<time style="display:inline;color:#d3d3d3;font-weight:normal">(<%=tHis.execTime%>)</time>
                            <span><%=tHis.realName%>测试完成</span>

                        </dt>
                    </dl>
                </li>
                <%}%>
                <%if((tHis.processStepId==10)&&(tHis.testNum==k)&&(tHis.testNum<maxTestNum)){%>
                <li>
                    <h3>开发确认</h3>
                    <dl>
                        <dt><%=(tHis.realName==null)?"":tHis.realName%> &nbsp;&nbsp;&nbsp;&nbsp;<time style="display:inline;color:#d3d3d3;font-weight:normal">(<%=tHis.execTime%>)</time>
                            <span><%=tHis.realName%>测试不通过,开发查看后，请求重测</span>
                            说明：<%if(tHis.reason==null){%> 无<br/> <%}else{%>
                            <%var n1 = tHis.reason.length/20; var n2=tHis.reason.length%20;%>
                            <%if(n2!=0){n1 = Math.floor(n1)+1;}else{n1 = Math.floor(n1)}%>
                            <%for(var jj=0; jj<n1; jj++){%>
                            <%=tHis.reason.substr(jj*20,20)%><br/>
                            <%}%>
                            <%}%>
                        </dt>
                    </dl>
                </li>
                <%}%>
                <%if((tHis.processStepId==10)&&(tHis.testNum==k)&&(tHis.testNum==maxTestNum)){%>
                <li>
                    <h3>开发确认</h3>
                    <dl>
                        <dt><%=(tHis.realName==null)?"":tHis.realName%> &nbsp;&nbsp;&nbsp;&nbsp;<time style="display:inline;color:#d3d3d3;font-weight:normal">(<%=tHis.execTime%>)</time>
                            <%if(tHis.state =="已确认为bug"){%>
                            <span>测试不通过,开发查看后，确认为bug，填写了新的变更名</span>
                            <%}%>
                            <%if(tHis.state =="测试不通过"){%>
                            <span>测试不通过,等待开发确认</span>
                            <%}%>
                            <%if(tHis.state =="请求重测"){%>
                            <span>测试不通过，开发查看后，请求重新测试</span>
                            <%}%>
                        </dt>
                    </dl>
                </li>
                <%}%>
                <%if((tHis.processStepId==12)&&(tHis.testNum==k)&&(tHis.testNum==maxTestNum)){%>
                <li>
                    <h3>上发布库</h3>
                    <dl>
                        <dt><%=(tHis.realName==null)?"":tHis.realName%> &nbsp;&nbsp;&nbsp;&nbsp;<time style="display:inline;color:#d3d3d3;font-weight:normal">(<%=tHis.execTime%>)</time>
                            接受了上发布库任务
                        </dt>
                    </dl>
                </li>
                <%}%>
                <%if((tHis.processStepId==13)&&(tHis.testNum==k)&&(tHis.testNum==maxTestNum)){%>
                <li>
                    <h3>上发布库</h3>
                    <dl>
                        <dt><%=(tHis.realName==null)?"":tHis.realName%> &nbsp;&nbsp;&nbsp;&nbsp;<time style="display:inline;color:#d3d3d3;font-weight:normal">(<%=tHis.execTime%>)</time>
                            <span><%=tHis.state%></span>
                        </dt>
                    </dl>
                </li>
                <%}%>
                <%}%>
                <%}%>
                <%});%>
            </ul>
        </div>
        <%}%>
        <%}else%>
        <!--新版历史消息记录 taskId>1666-->
        <% if(taskHis.length && (taskHis[0].taskid > 1800)){ %>
        <div class="history-date">
            <ul>
                <% var j = 0;var curTestNum = 0;var curTurnNum = 0 %>
                <h2 class="data01"><a href="#">第<%=j+1%>轮</a></h2>
                <%taskHis.forEach(function(tHis, item){%>
                <% if(tHis.turnNum == j + 1){  j++; %>
                <h2 class="data01"><a href="#">第<%=j+1%>轮</a></h2>

                <%}%>
                <% if(tHis.testNum == curTestNum + 1){curTestNum++; %>
                <h2 class="data01"><a href="#">第<%=curTestNum+1%>轮测试</a></h2>
                <%}%>
                <%if(tHis.processStepId == 2){%>
                <li>
                    <h3>发起变更单</h3>
                    <dl>
                        <dt><%=tHis.realName%> &nbsp;&nbsp;&nbsp;&nbsp;<time style="display:inline;color:#d3d3d3;font-weight:normal">(<%=tHis.execTime%>)</time>
                            <span>填写提交了变更单基本信息</span>
                        </dt>
                    </dl>
                </li>
                <%}else %>
                <%if(tHis.processStepId==2 && tHis.fileName){%>
                <li>
                    <h3>提取旧文件</h3>
                    <dl>
                        <dt>系统 &nbsp;&nbsp;&nbsp;&nbsp;<time style="display:inline;color:#d3d3d3;font-weight:normal">(<%=tHis.execTime%>)</time>
                            <span>提取SVN上存在的旧文件：<a typeId="attaLink" href="<%=tHis.fileUri%>" style="color:#32B1EC"><%=tHis.fileName%></a></span>
                        </dt>
                    </dl>
                </li>
                <%}else %>
                <%if(tHis.processStepId==3 && tHis.fileName!=null){%>
                <li>
                    <h3>提交变更单</h3>
                    <dl>
                        <dt><%=tHis.realName%> &nbsp;&nbsp;&nbsp;&nbsp;<time style="display:inline;color:#d3d3d3;font-weight:normal">(<%=tHis.execTime%>)</time>
                            <span>上传了变更单：<a typeId="attaLink" href="<%=tHis.fileUri%>" style="color:#32B1EC"><%=tHis.fileName%></a></span>
                        </dt>
                    </dl>
                </li>
                <%}else %>
                <%if(tHis.processStepId==4){%>
                <li>
                    <h3>安排走查</h3>
                    <dl>
                        <dt><%=tHis.realName%> &nbsp;&nbsp;&nbsp;&nbsp;<time style="display:inline;color:#d3d3d3;font-weight:normal">(<%=tHis.endTime?tHis.endTime:tHis.execTime%>)</time>
                            <span>指定<%=tHis.realName%>对该变更单走查</span>
                        </dt>
                    </dl>
                </li>
                <%}else %>
                <%if(tHis.processStepId==5 ){%>
                <li>
                    <h3>走查</h3>
                    <dl>
                        <dt><%=tHis.realName%> &nbsp;&nbsp;&nbsp;&nbsp;<time style="display:inline;color:#d3d3d3;font-weight:normal">(<%=tHis.endTime?tHis.endTime:tHis.execTime%>)</time>
                            <%if(tHis.endTime){%>
                            <span>走查该变更单：<%= tHis.state?tHis.state:"无" %><br/>
                                <% if(tHis.fileUri != null){ %>
                                <label>上传了走查报告：<a typeId="attaLink" href="<%= tHis.fileUri %>"
                                                  style="color:#32B1EC"><%= tHis.fileName %></a></label>。
                                <% } %>
                                <% if(tHis.reason != null){ %>
                                <br/>
                                            <span>说明：<%= tHis.reason %></span>
                                <% } %>
                            </span>
                            <%}%>
                        </dt>
                    </dl>
                </li>
                <%}else%>
                <% if(tHis.processStepId==6 && tHis.dealer){%>
                <li>
                    <h3>上测试库</h3>
                    <dl>
                        <dt><%=tHis.realName%> &nbsp;&nbsp;&nbsp;&nbsp;<time style="display:inline;color:#d3d3d3;font-weight:normal">(<%=tHis.execTime%>)</time>
                            <span>接受了上测试库任务</span>
                        </dt>
                    </dl>
                </li>
                <%}else %>
                <%if(tHis.processStepId==7){%>
                <li>
                    <h3>上测试库完成</h3>
                    <dl>
                        <dt><%=tHis.realName%> &nbsp;&nbsp;&nbsp;&nbsp;<time style="display:inline;color:#d3d3d3;font-weight:normal">(<%=tHis.execTime%>)</time>
                            <span>完成了代码上测试库任务</span>
                        </dt>
                    </dl>
                </li>
                <%}else %>
                <%if((tHis.processStepId==8)){%>
                <li>
                    <h3>测试</h3>
                    <dl>
                        <dt><%=tHis.realName==undefined?"":tHis.realName%> &nbsp;&nbsp;&nbsp;&nbsp;<time style="display:inline;color:#d3d3d3;font-weight:normal">(<%=tHis.endTime?tHis.endTime:tHis.execTime%>)</time>
                            <span><%=tHis.realName== undefined ?'':tHis.realName +'接受了'%>测试任务</span>
                            <%if(tHis.fileUri!=null){%>
                            测试报告：<a typeId="attaLink" href="<%=tHis.fileUri%>" style="color:#32B1EC"><%=tHis.fileName%></a><br/>
                            <%}%>
                            <% if(tHis.state != null){ %>
                            <br/>
                            <span>状态：<%= tHis.state %></span>
                            <% } %>
                            说明：<%if(tHis.reason==null){%> 无<br/> <%}else{%>
                            <%var n1 = tHis.reason.length/20; var n2=tHis.reason.length%20;%>
                            <%if(n2!=0){n1 = Math.floor(n1)+1;}else{n1 = Math.floor(n1)}%>
                            <%for(var jj=0; jj<n1; jj++){%>
                            <%=tHis.reason.substr(jj*20,20)%><br/>
                            <%}%>
                            <%}%>
                        </dt>
                    </dl>
                </li>
                <%}else%>
                <% if((tHis.processStepId==9)){%>
                <li>
                    <h3>测试完成</h3>
                    <dl>
                        <dt><%=(tHis.realName==null)?"":tHis.realName%> &nbsp;&nbsp;&nbsp;&nbsp;<time style="display:inline;color:#d3d3d3;font-weight:normal">(<%=tHis.execTime%>)</time>
                            <span><%=tHis.realName%>测试完成</span>
                            <!--<span><%=tHis.realName%>测试后，作出“<%=tHis.state%>”的判定</span>-->
                        </dt>
                    </dl>
                </li>
                <%}else%>
                <% if( (tHis.processStepId==10)){%>
                <li>
                    <h3>开发确认</h3>
                    <dl>
                        <dt><%=(tHis.realName==null)?"":tHis.realName%> &nbsp;&nbsp;&nbsp;&nbsp;<time style="display:inline;color:#d3d3d3;font-weight:normal">(<%=tHis.execTime%>)</time>
                            <%if(tHis.state =="已确认为bug"){%>
                            <span>测试不通过,开发查看后，确认为bug，填写了新的变更名</span>
                            <%}else{%>
                            <span><%= tHis.realName %>：<%= tHis.state %></span>
                            <% if(tHis.reason != null){ %>
                            说明： <br/>
                            <%var n1 = tHis.reason.length/20; var n2=tHis.reason.length%20;%>
                            <%if(n2!=0){n1 = Math.floor(n1)+1;}else{n1 = Math.floor(n1)}%>
                            <%for(var jj=0; jj<n1; jj++){%>
                            <%=tHis.reason.substr(jj*20,20)%><br/>
                            <%}%>
                            <%}%>
                            <%}%>
                        </dt>
                    </dl>
                </li>
                <%}else%>
                <% if((tHis.processStepId==12)){%>
                <li>
                    <h3>上发布库</h3>
                    <dl>
                        <dt><%=(tHis.realName==null)?"":tHis.realName%> &nbsp;&nbsp;&nbsp;&nbsp;<time style="display:inline;color:#d3d3d3;font-weight:normal">(<%=tHis.execTime%>)</time>
                            <span> 接受了上发布库任务</span>
                        </dt>
                    </dl>
                </li>
                <%}%>
                <%if((tHis.processStepId==13)){%>
                <li>
                    <h3>上发布库</h3>
                    <dl>
                        <dt><%=(tHis.realName==null)?"":tHis.realName%> &nbsp;&nbsp;&nbsp;&nbsp;<time style="display:inline;color:#d3d3d3;font-weight:normal">(<%=tHis.execTime%>)</time>
                            <span><%= tHis.state ? tHis.state : "" %></span>
                        </dt>
                    </dl>
                </li>
                <%}%>
                <%});%>
            </ul>
        </div>
        <%}%>
    </div>
</div>
</body>
</html>
<script src="/javascripts/historyJs.js"></script>
<script>
    jQuery(document).ready(function() {
        //下载附件
        var aLink = $('[typeId=attaLink]');
        aLink.click(function(){
            var aHref = $(this).attr('href');
            var attaName = $(this).html();
            if(!aHref || '#'==aHref || null==aHref){
                return;
            }
            aHref = aHref.replace(/\./g,'%2E');
            aHref = aHref.replace(/\//g,'%2F');
            attaName = attaName.replace(/\./g,'%2E');
            attaName = attaName.replace(/\//g,'%2F');
            var currentUri = '/file/fileDownLoad/' + attaName + '/' + aHref;
            location.href = currentUri;
        });
    });
</script>

