<!--变更单处理--“走查”模态窗口-->
<link rel="stylesheet" href="/stylesheets/jquery.fileupload.css"/>
<!--<form action="" id="formExtractFile" class=" bs-component form-horizontal" method='post'>-->
<form target="ifm_fileUpRe" id="fileUpForm_check" action="/file/unpassTesting" class="bs-component form-horizontal" role="form" method="post" enctype='multipart/form-data'>
    <input type="hidden" id="taskId" name="taskId" value="<%= task.taskid%>"/>
    <input type="hidden" id="creater" name="creater" value="<%= task.creater%>"/>
    <input type="hidden" id="processStepId" name="processStepId" value="<%= task.processStepId%>"/>
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span><span class="sr-only">Close</span></button>
        <h4 class="modal-title" id="myLargeModalLabel">测试</h4>
    </div>
    <div  class="modal-body">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-12">

                    <div class="form-group">
                        <label for="taskName" class="col-sm-2 control-label">变更单号</label>
                        <div class="col-sm-10" style="margin-top:6px">
                            <span id="taskCode"><%=task.taskcode%></span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="inputTaskName" class="col-sm-2 control-label">变更单名</label>
                        <div class="col-sm-10" style="margin-top:6px">
                            <span id="taskName"><%=task.taskname%></span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="inputTaskDesc" class="col-sm-2 control-label">申请人</label>
                        <div class="col-sm-4" style="margin-top:6px">
                            <span id="createrName"><%=task.createName%></span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="inputTaskOldFile" class="col-sm-2 control-label">旧文件</label>
                        <div class="col-sm-4" style="margin-top:6px">
                            <span><a id="a_oldFile" href="old/<%=task.taskcode%>/old.zip">old.zip</a></span>
                        </div>

                        <label for="inputTaskList" class="col-sm-2 control-label">已上传的变更单<%if(locals.title){%> <%=locals.title%> <%}%></label>
                        <div class="col-sm-4" style="margin-top:6px">
                            <span><a id="a_attaFile" href="<%=attaFile.fileUri%>"><%=attaFile.fileName%></a></span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="modifyTaskList" class="col-sm-2 control-label">修改文件清单</label>
                        <div class="col-sm-10" style="margin-top:6px">
                            <textarea class="form-control" id="modifyTaskList" rows="3" disabled="disabled"><%=modifyFileList==undefined?'':modifyFileList%></textarea>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="addTaskList" class="col-sm-2 control-label">新增文件清单</label>
                        <div class="col-sm-10" style="margin-top:6px">
                            <textarea class="form-control" id="addTaskList" rows="3" disabled="disabled"><%=addFileList==undefined?'':addFileList%></textarea>
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="delTaskList" class="col-sm-2 control-label">删除文件清单</label>
                        <div class="col-sm-10" style="margin-top:6px">
                            <textarea class="form-control" id="delTaskList" rows="3" disabled="disabled"><%=delFileList==undefined?'':delFileList%></textarea>
                        </div>
                    </div>

                    <div class="form-group" id="unPassReasonDiv">
                        <label for="noPassReason" class="col-sm-2 control-label">简述不通过原因(不通过时填写)</label>
                        <div class="col-sm-10" style="margin-top:6px">
                            <input class="form-control" maxlength="100" type="text" id="noPassReason" name="noPassReason" placeholder="请填写不通过原因，如走查通过则不需要填写(100字以内)"/>
                        </div>
                    </div>

                    <div class="form-group">

                        <label for="inputTaskList" class="col-sm-2 control-label">已上传的测试报告</label>
                        <div class="col-sm-3" style="margin-top:8px">
                            <span><a id="a_reportAtta" href="<%=testReportAtta==undefined?'#':testReportAtta.fileUri%>"><%=testReportAtta==undefined?'':testReportAtta.fileName%></a></span>
                        </div>
                        <%if(!testReportAtta.attachmentId){%>
                        <div id="btnSelectReport"  class="col-sm-7" style="width: 90px;margin-left: -56px;">
                            <span class="btn btn-success fileinput-button">
                                <i class="glyphicon glyphicon-plus"></i>
                                <span>选择报告</span>
                                <input id="fulAvatar" name="fulAvatar" type="file" class="form-control" />
                            </span>
                        </div>
                        <%}%>
                    </div>
                    <div class="form-group" id="assignTestDiv">
                        <label for="inputTaskList" class="col-sm-2 control-label">指定测试人员</label>
                        <div class="col-sm-3">
                            <!--<input type="text" class="form-control"  name="nextDealer" id="nextDealer" placeholder="输入要指定人员的账号">-->
                            <div class="input-group">
                                <input type="text" class="form-control" id="testPerson" placeholder="输入人员账号或姓名">
                                <div class="input-group-btn">
                                    <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                                        <span class="caret"></span>
                                    </button>
                                    <ul id="selectUl" class="dropdown-menu dropdown-menu-right" role="menu">
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <div style="width:41%;float:left;margin-bottom:-20px;margin-top:-9px;height:50px;" id="diaInfoTip" class="alert alert-info alert-dismissible" role="alert"><span style="text-align:center;margin-left:auto;margin-right:auto;display:block;"><strong>信息提示</strong></span></div>
        <div style="width:41%;float:left;margin-bottom:-20px;margin-top:-9px;height:50px;" id="diaErrTip" class="alert alert-danger alert-dismissible" role="alert"><span style="text-align:center;margin-left:auto;margin-right:auto;display:block;"><strong>错误提示</strong></span></div>
        <div style="width:41%;float:left;margin-bottom:-20px;margin-top:-9px;height:50px;" id="diaSuccessTip" class="alert alert-success alert-dismissible" role="alert"><span style="text-align:center;margin-left:auto;margin-right:auto;display:block;"><strong>操作成功</strong></span></div>
        <div style="width:58%;float:right;margin-right: 5px">
            <button id="btnCloseModel" type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
            <button id="submit_TestReport" type="button" class="btn btn-primary">上传测试报告</button>
            <button id="btnPassTest" type="button" class="btn btn-primary">通过测试</button>
            <button id="btnUnPassTest" type="button" class="btn btn-primary">测试不通过</button>
            <button id="btnAssignTest" type="button" class="btn btn-primary">指定他人测试</button>
            <button id="btnAssignTestConfirm" type="button" class="btn btn-primary">确定</button>
            <button id="btnReturn" type="button" class="btn btn-primary">返回</button>
        </div>
    </div>
</form>

<iframe id='ifm_fileUpRe' name='ifm_fileUpRe' style="display:none"/>
<!--</form>-->

<script src="/javascripts/bootstrap-suggest.js"></script>
<script src="/javascripts/common.js"></script>
<script src="/javascripts/testing.js"></script>